In [9]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("data/housing_data.csv")

In [11]:
data.head()

   Bedrooms  SquareFeet   Price
0         2        1000  200000
1         3        1500  300000
2         2        1200  220000
3         4        2000  400000
4         3        1800  350000

In [ ]:
X = data.drop(['Price'], axis=1)
Y = data['Price']