In [9]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("data/housing_data.csv")

In [11]:
data.head()

   Bedrooms  SquareFeet   Price
0         2        1000  200000
1         3        1500  300000
2         2        1200  220000
3         4        2000  400000
4         3        1800  350000

In [12]:
X = data.drop(['Price'], axis=1)
Y = data['Price']

In [15]:
print(X)

    Bedrooms  SquareFeet
0          2        1000
1          3        1500
2          2        1200
3          4        2000
4          3        1800
5          5        2500
6          2         900
7          3        1200
8          4        1800
9          2        1500
10         3        2000
11         5        3000
12         2        1100
13         3        1400
14         4        2200
15         2        1300
16         3        1600
17         4        2000
18         5        2800
19         2        1050
20         3        1700
21         4        1900
22         2        1250
23         3        1950
24         5        2600
25         2         950
26         3        1350
27         4        2050
28         2        1450
29         3        1650
30         4        2150
31         5        2950
32         2        1005
33         3        1520
34         4        1980
35         2        1190
36         3        1820
37         5        2480