In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
file_path = 'Data/insurance.csv'

In [5]:

df = pd.read_csv(file_path)

In [6]:
print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Checking the missing value from the data
if there will zero with each column this means no missing value

In [7]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### Checking duplicates rows in the dataset

In [9]:
rows_duplicate = df[df.duplicated()]
print(rows_duplicate)

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631