In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('Data/insurance.csv')
df.head(50)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
33     63    male  28.310         0     no  northwest  13770.09790
34     28    male  36.400         1    yes  southwest  51194.55914
35     19    male  20.425         0     no  northwest   1625.43375
36     62  female  32.965         3     no  northwest  15612.19335
37     26    male  20.800         0     no  southwest   2302.30000
38     35    male  36.670         1    yes  northeast  39774.27630
39     60    male  39.900         0    yes  southwest  48173.36100
40     24  female  26.600         0     no  northeast   3046.06200
41     31  female  36.630         2     no  southeast   4949.75870
42     41    male  21.780         1     no  southeast   6272.47720
43     37  female  30.800         2     no  southeast   6313.75900
44     38    male  37.050         1     no  northeast   6079.67150
45     55    male  37.300         0     no  southwest  20630.28351
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
48     60  female  24.530         0     no  southeast  12629.89670
49     36    male  35.200         1    yes  southeast  38709.17600

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     age     1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [56]:
column_count = df['sex'].count()
print("Total Numbers of patients are: ",column_count)

Total Numbers of patients are:  1338

In [57]:
sex_count = df['sex'].value_counts()
print(sex_count)

sex
male      676
female    662
Name: count, dtype: int64

In [58]:
smoker_and_Nonsmoker_count = df['smoker'].value_counts()
print(smoker_and_Nonsmoker_count)

smoker
no     1064
yes     274
Name: count, dtype: int64

In [59]:
Number_of_region = df['region'].value_counts()
print(Number_of_region)

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

## Fint the Estimation of insurance cost

In [60]:
def insurance_estimated_cost(age,sex,bmi,children,smoker):
    
    #convert categorical variable to numerical variable
    sex = sex.map({'male': 1, 'female': 0})
    smoker = smoker.map({'yes': 1, 'no': 0})
    estimated_cost = 250*age - 128*sex + 370*bmi + 425*children + 24000*smoker - 12500
    print("Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
    return estimated_cost

In [70]:
age = df['  age']
sex = df['sex']
bmi = df['bmi']
children = df['children']
smoker = df['smoker']

In [73]:
insurance_estimated_cost(age,sex,bmi,children,smoker)

Estimated Insurance Cost: 0       26573.00
1        4791.90
2        7857.00
3        4022.85
4        6057.60
          ...
1333    12605.90
1334     3810.40
1335     5634.50
1336     2296.00
1337    37505.90
Length: 1338, dtype: float64 dollars.

0       26573.00
1        4791.90
2        7857.00
3        4022.85
4        6057.60
          ...
1333    12605.90
1334     3810.40
1335     5634.50
1336     2296.00
1337    37505.90
Length: 1338, dtype: float64